#--------------------------------------------------------------------
# Example Environment Configuration file
#
# This file can be used as a starting point for your own
# custom .env files, and contains most of the possible settings
# available in a default install.
#
# By default, all of the settings are commented out. If you want
# to override the setting, you must un-comment it by removing the '#'
# at the beginning of the line.
#--------------------------------------------------------------------

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = development


#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = 'http://localhost:8080/'
# If you have trouble with `.`, you could also use `_`.
# app_baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false
app.CSPEnabled = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = farmunand
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

#--------------------------------------------------------------------
# EMAIL CONFIG (Mailtrap for Development)
#--------------------------------------------------------------------

email.protocol = smtp
email.SMTPHost = sandbox.smtp.mailtrap.io
email.SMTPUser = f1ab4c31c541f5
email.SMTPPass = "ca5d34808c791c"   # pakai kutip kalau ada karakter khusus
email.SMTPPort = 2525
email.SMTPCrypto = tls

# format email
email.fromEmail = noreply@farmunand.dev
email.fromName = "FarmUnand App" 
email.mailType = html
email.charset = utf-8
email.wordWrap = true


#--------------------------------------------------------------------
# ENCRYPTION
#--------------------------------------------------------------------

encryption.key = randomkey123456

#--------------------------------------------------------------------
# SESSION
#--------------------------------------------------------------------

session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
session.savePath = writable/session

#--------------------------------------------------------------------
# LOGGER
#--------------------------------------------------------------------

logger.threshold = 4
